body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #181a1b;
    color: white;
    padding:5%;
    text-align: justify;
}

h1, h2, h3{
    color: #cee781;
}

a{
    color: #9bb6ab;
}

footer{
    width: 100%;
    text-align: center;
}
img:not(.logo){
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.linkcontent {
    max-height: 100px;
}

.linkcontainer{
    max-height: 100px;
    overflow:hidden;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bandcamp{
    margin: 0 auto;
    width: 20%;
    height: 23em;
    display: block;
}
.container{
    width: 100%;
    flex-wrap: wrap;
    display:block;
}

.pageheader{
    display: grid;
    grid-template-columns: 1fr 10fr;
}


.logo{
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.links{
    display: inline-block;
}

.about{
    display: inline-block;
    width: 100%;
    margin: 5%;
}

.aboutme{
    display: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.subscribe{
    display: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section{
    padding-top: 0%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
}

/* Dimensiones para celular en Portrait o Landscape*/
@media ((max-width:450px) and (max-height:1000px)) 
    or ((max-width:1000px) and (max-height:450px)){
        
        .links{
            display: block;
        }
        
        .about{
            display: inline-block;
        }
        
        .aboutme{
            display: block;
        }
        
        .subscribe{
            display: block;
        }
        
        .sections {
            display: grid;
            grid-template-columns: 1fr;
        }
}


@media ((max-width:1200px) and (max-height:1400px) and (min-width:450px) and (min-height:800px))
    or ((max-width:1400px) and (max-height:1200px) and (min-width:800px) and (min-height:450px)){
        .links{
            display: block;
        }
        
        .about{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .aboutme{
            display: wrap;
        }
        
        .subscribe{
            display: wrap;
        }
        
        .sections {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
}