.container{
    width: 100%;
    flex-wrap: wrap;
    display:block;
}

/* .break{
    flex-basis: 100%;
    height: 0;
} */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pagetitle{
    color: yellow;
}

.links{
    display: inline-block;
}

.about{
    display: inline-block;
}

.aboutme{
    display: wrap;
}

.subscribe{
    display: wrap;
}

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Dimensiones para celular */
@media ((max-width:450px) and (max-height:1000px)) 
    or ((max-width:1000px) and (max-height:450px)){
        .pagetitle{
            color: red;
        }
        
        .links{
            display: block;
        }
        
        .about{
            display: inline-block;
        }
        
        .aboutme{
            display: block;
        }
        
        .subscribe{
            display: block;
        }
        
        .sections {
            display: grid;
            grid-template-columns: 1fr;
        }
}


@media ((max-width:1200px) and (max-height:1400px) and (min-width:450px) and (min-height:800px))
    or ((max-width:1400px) and (max-height:1200px) and (min-width:800px) and (min-height:450px)){
        .pagetitle{
            color: blue;
        }
        
        .links{
            display: block;
        }
        
        .about{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .aboutme{
            display: wrap;
        }
        
        .subscribe{
            display: wrap;
        }
        
        .sections {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
}